@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Merienda&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Otomanopee+One&family=Signika:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jomhuria&family=Josefin+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jomhuria&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alice&family=Suez+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alice&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  width: 1280px;
  background-color: rgb(247, 247, 247);
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  z-index: 1000;
  position: fixed;
  height: 70px;
  box-shadow: 0px 0px 9px -3px #30527d;
  background-color: #fffffffb;
  display: block;
  width: 100vw;
}
nav {
  /* box-shadow: 0px 0px 9px -3px #30527d; */
  z-index: 1000;
  position: fixed;
  height: 70px;
  /* background-color: white; */
  width: 1280px;
  display: grid;
  grid-template-columns: auto auto;
}
.taqdiscomputers_icon {
  width: 45px;
}
a {
  display: block;
  color: black;
  text-decoration: none;
}
ul {
  height: 70px;
  justify-content: center;
  align-items: center;
  align-self: center;
  text-align: center;
  /* background-color: red; */
  display: inline-flex;
}
.sadfjh02jksadf_jsadf {
  margin: 0 0 0 12px;
  width: 300px;
  height: 70px;
  display: inline-flex;
  justify-content: left;
  align-items: center;
  align-self: center;
  text-align: center;
  /* border: 2px solid rgb(240, 240, 240); */
}
.menubtn_jsadf027sdf {
  cursor: pointer;
  margin: 0 12px 0 0;
  display: grid;
}
.menul {
  margin: 2px 0;
  background-color: black;
  width: 26px;
  height: 3px;
}
.menu_btn {
  background-color: transparent;
  width: 25px;
  height: 3px;
}
/* menu btn_start */
.manu_btn0a5sdf {
  margin: 0 12px 0 7px;
  text-align: center;
  display: grid;
  justify-content: center;
  align-content: center;
  /* background: red; */
  width: 32px;
  height: 30px;
  cursor: pointer;
}
#menubtn {
  font-size: 24px;
}
.lefthand_menu12sadf {
  display: none;
  box-shadow: 0px 0px 9px -3px #30527d;
  left: 0;
  z-index: 1000;
  background: white;
  position: absolute;
  top: 0;
  width: 250px;
  height: 100vh;
}
.menu1_hnadsf {
  width: 100px;
  height: 100px;
  background: yellow;
}
.menu_jhnasdf025asdf042 {
  box-shadow: 0px 0px 9px -3px #30527d;
  align-content: center;
  /* justify-content: center; */
  display: grid;
  height: 70px;
  grid-template-columns: auto auto;
  /* background: yellow; */
}
.btnmenu_nsadf057asdf {
  display: grid;
  cursor: pointer;
  align-items: center;
  align-self: center;
  text-align: center;
  /* margin: 0px 0 0 15px; */
  justify-content: center;
  /* background: red; */
  width: 39px;
  height: 29px;
  align-content: center;
  margin: 0 0 0 16px;
}

.gif_computers{
  align-items: center;
  align-self: center;
  text-align: center;
  display: grid;
  position: relative;
  width: 70px;
}
.computers_gif{
  width: 70px;
}
.home_btn_hnjsdf {
  /* background: red; */
  /* border: 2px solid gold; */
  display: grid;
  grid-template-columns: auto auto;
  /* justify-content: center; */
  align-items: center;
  align-self: center;
  text-align: center;
  height: 42px;
  font-weight: 700;
  font-size: 15px;
  text-transform: capitalize;
  cursor: pointer;
  border-bottom: 1px solid rgb(248, 248, 248);
}
.home_btn_hnjsdf:hover {
  background-color: #5177a8;
  color: white;
}
#leftome_btn{
  background-color: #30527d;
  color: white;
  
}

.home_text_jkadsf024asdf {
  /* margin: 0 0 0 12px; */
  text-align: left;
}
.hrmenubar_asdf024adf{
  
  /* background-color: #30527d; */
  border: none;
  height: 2px;
  margin: 0 0 12px 0;
}
.menubaclpagebtn{
  background-color: rgba(0, 0, 0, 0.514);
  width: 100vw;
  height: 100vh;
  /* display: grid; */
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}


/* manu_close */



.adfs_Hsd024sadf {
  margin: 0 0 0 4px;
  font-family: "Suez One", serif;
  font-size: 20px;
  color: #30527d;
  letter-spacing: 0.016em;
}
.t_hjsadf0214asdf {
  font-family: "Suez One", serif;
  font-size: 30px;
}
.navbar_jasdf025s4df {
  height: 35px;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  align-self: center;
  align-items: center;
}
.btns_homepagejksadf024sdf {
  display: inline-flex;
  justify-content: center;
  align-content: center;
  align-self: center;
  align-items: center;
  background-color: transparent;
  font-family: "Josefin Sans", sans-serif;
  cursor: pointer;
  color: black;
  border: none;
  margin: 0 12px;
  font-size: 17px;
  font-weight: 600;
  height: 26px;
  width: 74px;
  /* background-color: yellow; */
  border-radius: 3px;
}

.btns_homepagejksadf024sdf:hover {
  cursor: pointer;
  border-bottom: 2.5px solid black;
}
.sadf_jhksdf024asdf {
  display: block;
  height: 26px;
  width: 74px;
}

.taqdis_compueters {
  padding: 70px 0 0 0;
  display: grid;
  position: relative;
}
.background_scrollingImages_jsdf145 {
  overflow : hidden;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
  margin: 0;
  padding: 0;
  display: inline-flex;
  margin: 20px 0 0 0;
  /* background-image: url(/img/photo-1523821741446-edb2b68bb7a0.jpg); */

  width: 1280px;
  height: 430px;
  flex-flow: column;
  overflow: hidden;
  flex-wrap: nowrap;
}


.sdfjh214sdfjkH {
  
  display: grid;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
  background-size: 100%;
  width: 1280px;
  height: 430px;
  /* animation: slider3 15s infinite linear; */
}


.backimage_jklsadf024asdf{
  opacity: 0.3;
  position: absolute;
  display: grid;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
  background-size: 100%;
  width: 1280px;
  height: 430px;
  animation: slider 15s infinite linear;
}
@keyframes slider {
  0%{background-image: url(/img/background-3228704__340.webp);}
  40%{background-image: url(/img/businessman-2606506__340.webp);}
  100%{background-image: url(/img/businessman-3213659__340.webp);}
}
  
.sco_imgsdaf01524sadf {
  filter: blur(0px);
  /* box-shadow: -1px 0px 193px 132px white; */
  
  background-color: rgb(30, 54, 99);
  width: 1100px;
  /* display: none; */
  height: 430px;
  
  background-size: 100% 100%;
  /* margin: 9px 0 0 0; */
  animation: slider2 15s infinite linear;
}
@keyframes slider2 {
  0%{background-image: url(/img/background-3228704__340.webp);}
  40%{background-image: url(/img/businessman-2606506__340.webp);}
  100%{background-image: url(/img/businessman-3213659__340.webp);}
  
}
.imagecolor_jksdf0124asdf {
  margin: 20px 0 0 0;
  display: grid;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
  text-align: center;
}
.image_jhsdf0224 {
  width: 1280px;
}
.title {
  display: inline-flex;
  border-bottom: 2px solid #30527d;
  margin: 0 0 5px 0;
  font-weight: 700;
  color: #30527d;
  font-family: "Signika", sans-serif;
  font-size: 40px;
  font-weight: 700;
  /* letter-spacing: 0.034em; */
}
.adresstaqdiscomputers {
  font-weight: 800;
  font-size: 15px;
}
.asdf_isdf025asdfu {
  margin: 20px 0 20px 0;
  width: 1280px;
  display: grid;
  justify-content: center;
}
.servisecsother_asdf54sadf10254dsf {
  /* justify-content: center; */
  /* column-gap: 25px; */
  /* width: 1200px; */
  width: 1004px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  transition: width 0.3s ease-in-out;
  /* transition: column-gap 0.3s ease; */

  /* background-color: white; */
}

.servisecsother_asdf54sadf10254dsf:hover {
  /* column-gap: 25px;  */
  /* transition: column-gap 1s ease; */
  width: 1150px;
}
.services_mahaeseva_jksdf0524sadf {
  /* background-color: yellow; */
  box-shadow: 0px 6px 14px -7px #4f596a;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  width: 251px;
  /* border: 2px solid red; */
  height: 275px;
}
.services_mahaeseva {
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
  text-align: center;
  display: grid;

  width: 251px;

  height: 215px;
}
.mahasevaback {
  border-radius: 30px;
  width: 190px;
}
.services_mahaeseva_jksdf0524sadf:hover .mahasevaback{
  width: 200px;
}
.jksadf_H045sd7f {
  background: linear-gradient(7deg, #22426a, #1e59b5);
  font-size: 20px;
  font-family: "ZCOOL XiaoWei", serif;
  /* background-color: #1b385f; */
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
  text-align: center;
  display: grid;
  position: relative;
  /* padding: 17px 0 0px 13px; */
  font-size: 16px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  width: 251px;
  height: 60px;
  /* background: transparent; */
}
.jasdf024asdfjh {
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
  text-align: center;
  background-color: rgba(9, 8, 88, 0.938);
  width: 231px;
  height: 101px;
  overflow: hidden;
}
.taqdis_computers_map {
  margin: -142px 0 0 -241px;
  width: 693px;
  /* height: 195px; */
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
  text-align: center;
  display: inline-flex;
}

/* footer startted */
footer {
  font-family: "Fira Sans", sans-serif;
  color: white;
  padding: 15px 15px 15px 15px;
  margin: 30px 0 0 0;
  width: 1280px;
  background: #30527d;
  text-transform: capitalize;
  display: grid;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
  /* text-align: center; */
}
.footer_jsadf0254sadf {
  /* border: 2px solid red; */
  /* background-color: aqua; */
  width: 1190px;
  display: grid;
  position: relative;
  grid-template-columns: auto auto;
}

.asd_jhasdf024sdf {
  margin: 12px;
  text-align: right;
  justify-content: right;
  display: grid;
  line-height: 2;
}
.contactus {
  text-transform: uppercase;
  font-weight: 600;
}
.mobile_no_12sadf {
  margin: 0 0 0 100px;
  position: relative;
  justify-content: right;
  text-align: right;
  display: inline-flex;
}
.tail_mobile_no_045sadf {
  font-weight: 700;
  color: white;
}
.emailid_014asfd {
  color: white;
  text-transform: lowercase;
}
.officephoneno {
  font-size: 14px;
}
.address_taqdiscomputers {
  line-height: 1.4;
}
.fotvdoc_125sadf {
  font-family: "Fira Sans", sans-serif;
  color: white;
  border-top: 1.3px solid #2f5d8e;
  background: #30527d;
  /* background: yellow; */
  height: 60px;
  display: grid;
  justify-content: center;
  align-content: center;
}
/* footer closed */

/* contact css start */
.taqdiscomputers_contact{
    padding: 70px 0 0 0;
    width: 1280px;
}
.mapiframe{
    /* background-color: red; */
    height: 400px;
    width: 1263px;
    /* margin: 20px 0; */
    display: grid;
    position: relative;
    justify-content: center;
    align-items: center;
    align-self: center;
    
}
.ifframe_contact{
    box-shadow: 0px 0px 15px -8px #30527d;
}
input{
    border: 1px solid #e3e3e3;
    outline: none;
}
textarea{
    border: 1px solid #e3e3e3;
    outline: none;
}
.contactmain_hnjsaf014asdf{
  /* background-color: yellow; */
  
  display: grid;
  
}
.feedback_kasdf02a4sdf{
  height: 50px;
}
.sadf_jdsf0251asdfk05fk255{
  /* border: 2px solid red; */
  display: grid;
  justify-content: center;
  /* grid-gap : 25px; */
  /* margin: 0px 0 0 130px; */
  grid-template-columns: auto auto;
}
.contactenteryourfeed{
  margin: 0px 0 0 -90px;

  padding: 20px;
  /* background-color: aqua; */
  width: 450px;
  display: grid;
  /* justify-content: center; */
  
}
.sdf_khadf025asdf{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
  font-weight: 700;
  margin: 0 0 21px 20px;
  text-transform: uppercase;
}



.contact_jsafd04asdf{
  color: black;
}
.uscontact{
  color: #30527d;
}
.enteryoufed_kjsadf{
  /* margin: 12px 0 0 0; */
  text-transform: capitalize;
  color: #30527d;
  font-size: 15px;
  font-weight: 500;
  /* line-height: 1; */
  letter-spacing: 0.043em;
}
.enteryoufulnamm{
  margin: 12px 0 0 0;
  font-size: 14px;
font-weight: 600;
text-transform: capitalize;
}
.sdafhj_sdf0254asdf{
  cursor: not-allowed;
  border: 1px solid #b7b7b7;
  border-radius: 5px;
  width: 355px;
  height: 33px;
  font-size: 14px;
  padding: 5px 10px;
  padding: 0 10px;
}
#entername_jasdf2{
  text-transform: lowercase;
}
#entername_jasdf{
  text-transform: capitalize;
}
/* .sdafhj_sdf0254asdf::after{
  box-shadow: inset 0px 0px 5px -3px gray;
} */
#textcontactmsg{
  cursor: not-allowed;
  border: 1px solid #b7b7b7;
  resize: vertical;
  padding: 4px 10px;
  width: 350px;
  font-size: 16px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.youmsgsubmitsu{
  background: linear-gradient(3deg,#2d4767,#2085cf);
  width: 390px;
  display: none;
  box-shadow: 0px 0px 6px -2px gray;
  /* justify-content: center; */
  border-radius: 10px;
  align-content: center;
  height: 50px;
  /* background-color: #3576b0; */
  /* display: grid; */
  grid-template-columns: auto auto;
  margin: 5px 0;
}
.asdf_kasdf024asdf{
  font-size: 14.5;
  font-family: 'Merienda', cursive;
  text-transform: capitalize;
  margin: 0 0 0 20px;
  color: white;
  font-weight: 700;
}
.crossclose_btn{
  display: grid;
  justify-content: right;
  margin: 0 12px 0 0;
}
.btn_close_suc_con{
  font-size: 15px;
  display: grid;
  justify-content: center;
  align-content: center;
  width: 26px;
  height: 22px;
  /* background-color: red; */
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: rgb(240, 240, 240);
  font-weight: 700;
}
.btn_close_suc_con:hover{
  color: white;
}
.right_sign{
  margin: 0 12px 0 0;
  /* background: red; */
  border : 2px solid white;
  width: 25px;
  display: inline-flex;
  height: 25px;
  border-radius: 25px;
  justify-content: center;
  align-content: center;
}
.btnsubfee_jkasdf02sdf{
  font-size: 14.5px;
  font-weight: 900;
  background-color:#3f6494 ;
  color: white;
  border: none;
  cursor: pointer;
  width: 104px;
  height: 39px;
  border-radius: 6px;
  text-transform: capitalize;
  margin: 12px 0;

}
.btnsubfee_jkasdf02sdf:hover{
  background-color:#30527d ;
}
.sadf_kjasdf02a4sdf{
  padding: 20px;
}
.sadf_oasd02sdfLsdf{
  font-size: 22px;
  font-weight: 600;
}
.adress_contact_sadf052asdf{
  margin: 20px 0 0 0;
  display: grid;
  justify-content: center;
  grid-gap : 12px;
}
.kjdf_kjasdf21257asdf{
  margin: 7px 0px;
  /* justify-content: center; */
  align-content: center;
  /* border: 2px solid red; */
  display: inline-flex;
}
.kjdf_kjasdf21257asdf:hover .icons_kjasdf{
  color: white;
  background-color:#30527d ;
}
.icons_kjasdf{
  margin: -6px 15px 0 0;
  display: grid;
  justify-content: center;
  align-content: center;
  border-radius: 40px;
  border: 2px solid #30527d ;
  color: #30527d;
  /* background-color: yellow; */
  height: 35px;
  width: 35px;
}
.adres_jasdf024{

  display: inline-flex;
  align-content: center;
  text-transform: capitalize;
}
#icons_jsadf024asdf{
  font-size: 18px;
}
.adres_asfd0as4df{
  margin: 2px 5px 0 0;
  font-weight: 700;
}
.adres_jsadf02a4sdf{
  line-height: 1.4;
  color: #4f4d4d;
}

/* .asdjk5_Hsdf041dsf{
  margin: 0 0 0 78px;
  
} */
#aicent_jksadf01147sdf{
  height: 35px;
  display: inline-flex;
  justify-content: center;
  align-content: center;
}
#conkjsadf_knsadf02asdf{
  text-transform: lowercase;
}
.contac_kjsd024asdfgif{
  width: 400px;
}
#email_ionkjsafd0125sadf{
  font-size: 20;
}

/* contactmap */
.samap_safhidemobile{
  display: none;
}

/* contactmnapclose */

/* contact css close */
