
@media screen and (max-width : 800px) {
    header{
        width: 100vw;
    }
    nav{
        width: 100vw;
    }
   .mapiframe{
       width: 100vw;
       height: 250px ;
   }
    .samap_safhidemobile{
       display: grid;
       box-shadow: 0px 0px 7px -1px gray;
       overflow : hidden;
       border-radius: 5px;
   }
   .sadf_kjasdf02a4sdf{
       padding: 0;
       width: 90vw;
   }
   .adressetconctac_ksadf{
       width: 100vw;
   }
   .asfd_oiasdfasdfas1{
    display: none;
   }
   .contactmain_hnjsaf014asdf{
       width: 100vw;
   }
   .sadf_jdsf0251asdfk05fk255{
       margin: 0;
       /* padding: 0 0 0 50px; */
       justify-content: center;
       width: 100vw;
       display: grid;
       grid-template-columns: auto;
   }
   .contactenteryourfeed{
       
       width: 100vw;
       margin: 0 0 0 -15px;
       padding: 0;
   }
   .sdafhj_sdf0254asdf{
       width: 250px;
       height: 25px;
   }
   .sdf_khadf025asdf{
       width: auto;
   /* margin: 0 0 21px 38px; */
    }
    .enteryoufed_kjsadf{
        width: auto;
    }
   #textcontactmsg{
       width: 250px;
       height: 124px;
   }
   .feedcontainted{
       width: 90vw;
       padding: 0 0 0 25px;
   }
   .adressetconctac_ksadf{
       width: 90vw;
       display: grid;
       justify-content: center;
       /* width: 100vw; */
   }
   .btnsubfee_jkasdf02sdf{
    width: 72px;
    height: 32px;
    font-size: 11.5px;
   }
   .sadf_oasd02sdfLsdf{
       margin: 15px 0;
       width: 100vw;
       display: grid;
       justify-content: center;
   }
   .kjdf_kjasdf21257asdf{
       width: 90vw;
       margin: 0;
   }
   .adress_contact_sadf052asdf{
       margin: 0 0 0 12px;
       /* grid-gap: 0px; */
       width: 90vw;
   }
 
   .icons_kjasdf{
       display: none;
   }
   .adres_jasdf024{
       width: 90vw;
       font-size: 15px;
   }
   .aicent_jksadf01147sdf{
       margin: 0;
       padding: 0;
   }
   .kjdf_kjasdf21257asdf{
       border-bottom: 1px solid rgb(221, 221, 221);
       /* border-top: 1px solid rgb(221, 221, 221); */
   }
   .adres_asfd0as4df{
       /* border-right: 2px solid red; */
       justify-content: right;
       padding: 0 0 0 5px;
       display: grid;
       position: relative;
       /* float: right; */
       width: 100px;
   }
   .contact_gif_conatc_ksdf02sdf{
       display: none;
   }
   .taqdiscomputers_contact{
       width: 100vw;
   }
}
